body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:80px;
  width:300px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:490px;
  top:50px;
  width:720px;
  height:630px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:630px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
